<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>everything</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>	

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BeursEngine.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>be.bert.googleappengine.channel.ChannelAPIService,be.bert.googleappengine.controller.DrinkService,be.bert.googleappengine.model.OrderEndpoint</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>OpenedChannel</servlet-name>
		<servlet-class>be.bert.googleappengine.channel.OpenedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenedChannel</servlet-name>
		<url-pattern>/opened/*</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>PricesServlet</servlet-name>
    	<servlet-class>be.bert.googleappengine.channel.OrderServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>PricesServlet</servlet-name>
    	<url-pattern>/order/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>CreateChannelServlet</servlet-name>
    	<servlet-class>be.bert.googleappengine.channel.CreateChannelServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>CreateChannelServlet</servlet-name>
    	<url-pattern>/create/*</url-pattern>
  	</servlet-mapping>
</web-app>