<div role="document" class="container-fluid" >
	<h1>Bestellen</h1>
	
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Naam</th>
					<th>Prijs</th>
					<th>Aantal</th>
					<th></th>
					<th>Prijs</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in order.orderItems">
					<td>{{item.drink.name}}</td>
					<td>{{item.drink.price | number:2}}</td>
					<td>
						<button ng-disabled="loading" class="btn btn-primary" ng-click="plusOne(item)" >+1</button>
						<button ng-disabled="loading" class="btn btn-primary" ng-click="plusFive(item)" >+5</button>
					</td>
					<td>
						<input type="number" ng-model="item.quantity" step="1" size="3" ng-disabled="loading"/>
					</td>
					<td>
						{{item.total | number:2 }} €
					</td>
					<beurs-kassa-item></beurs-kassa-item>
		 		</tr>
		 	</tbody>
		</table>
		<p class="bg-primary">Totaal: {{order.totalAmount | number:2}} €</p>
		<p class="bg-info">Vorige Totaal: {{order.previousAmount | number:2 }} €</p>
				
		<div>
			<img class="sample-show-hide" ng-show="loading " src="images/load-indicator.gif"  style="height: 75px"></img>
			<button ng-disabled="loading" type="button" ng-click="sendOrder()" class="btn btn-success">Bereken</button>
			<button ng-disabled="loading" type="button" ng-click="reset()" class="btn btn-danger">Reset</button>
		<div>
	</div>
</div>
 <script src="https://apis.google.com/js/client.js?onload=serviceInit"></script>
